<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="http://34.125.195.39/static/styles/styles.css">
    <title>{% block title %}ziah.business{% endblock%} </title>
    {% block style %}
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <div style="height: 1px;">
    </div>
    <div id="navbar">
        <div class="flex-container">
            <div class="flex-container" style="flex-direction:column; flex :10 0;">
                <div id="mininav">
                    <div>
                        <div class="w3-bar w3-white">
                            <button class="w3-bar-item w3-button w3-white">
                                <h1><a href="http://ziah.business">ziah.business</a></h1>
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="w3-bar w3-black black-border">
                            {% for cat in categories %}
                            {% if cat == category %}
                            <button class="w3-bar-item w3-button tablink w3-red"
                            onclick="openTab(event,'{{ cat }}')">{{ cat }}</button>
                            {% else %}
                            <button class="w3-bar-item w3-button tablink"
                            onclick="openTab(event,'{{ cat }}')">{{ cat }}</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="https://wa.me/60138603366"><img id="profile-pic"
            class="profile-photo profile-container black-border-circle" src="https://i.imgur.com/hc6R7xP.jpg"
            alt="Avatar"></a>
    {% endblock %}

    {% block content %}
    
    {% endblock %}



    <script>
        window.onscroll = function () { myFunction() };
        window.onload = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var mininav = document.getElementById("mininav");
        var profile = document.getElementById("profile-pic");
        var content = document.getElementById("content");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
                content.setAttribute("style", "margin-top:" + mininav.clientHeight + "px;")
            } else {
                content.setAttribute("style", "margin-top:-" + (navbar.clientHeight - mininav.clientHeight) + "px;")

                navbar.classList.remove("sticky");
            }
        }
        function openTab(evt, catName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("cat");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
            }
            document.getElementById(catName).style.display = "block";
            evt.currentTarget.className += " w3-red";
        }
    </script>
</body>

</html>