{% extends "v1/base.html" %}

{% block style %}
{% endblock %}


{% block msection %}
<div class="flex-container" style="justify-content: space-around; flex-wrap: wrap;">
    <div class="w3-card-4">
        <a href="maxxima/{{product.product_name}}"><img class="product-img" src="{{product.img}}"></a>
        <div class="w3-container">
            <h3>{{product.product_name}}</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block psection %}
<div class="flex-container" style="justify-content: space-around; flex-wrap: wrap;">
    <div class="w3-card-4">
        <a href="garden/{{product.product_name}}"><img class="product-img" src="{{product.img}}"></a>
        <div class="w3-container">
            <h3>{{product.product_name}}</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
{% endblock %}
