{% extends "v1/base.html" %}

{% block style %}
{% endblock %}

{% block content %}
<div id="content" class="content">
    {% for cat in categories %}
    <div id="{{ cat }}" class="w3-container cat">
        <h1>{{ cat }}</h1>
        <div class="flex-container" style="justify-content: space-around; flex-wrap: wrap;">
            {% for product in products %}
            {% if product.category == cat %}
            <div class="w3-card-4">
                <a href="{{cat}}/{{product.product_name}}"><img class="product-img" src="{{product.img}}"></a>
                <div class="w3-container">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.description}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}