
        #navbar {
            overflow: hidden;
        }

        .flex-container {
            display: flex;
            flex-direction: column;
        }
        
        .product-img {
            width: 100%;
            object-fit: contain;
        }


        .profile-photo {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
            object-fit: contain;
            
        }

        .black-border {
            border-top: 5px solid maroon;
            border-bottom: 5px solid maroon;
        }

        .black-border-circle {
            border: 5px solid maroon;
        }

        

        @media only screen and (max-width: 355px) {
            .w3-sidebar{
            width: 25%;
            }
            .content {
                padding: 16px;
                margin-left: 25%;
            }
           

            .flex-container>.w3-card-4 {
                margin: 20px 0px;
                width: 100%;
            }
        }

        @media only screen and (min-width: 355px) {
            .w3-sidebar{
            width: 25%;
            }
            .content {
                padding: 16px;
                margin-left: 25%;
            }
            .flex-container>.w3-card-4 {
                margin: 20px 0px;
                width: 100%;
            }
        }

        @media only screen and (min-width: 390px) {
            .w3-sidebar{
            width: 25%;
            }
            .content {
                padding: 16px;
                margin-left: 25%;
            }

            .flex-container>.w3-card-4 {
                margin: 20px 0px;
                width: 100%;
            }
        }
        @media only screen and (min-width: 600px) {
            .w3-sidebar{
            width: 25%;
            }
            .content {
                padding: 16px;
                margin-left: 25%;
            }
            .flex-container>.w3-card-4 {
                margin: 20px 0px;
                width: 45%;
            }
        }

        @media only screen and (min-width: 768px) {
            .w3-sidebar{
            width: 25%;
            }
            .content {
                padding: 16px;
                margin-left: 25%;
            }

            .flex-container>.w3-card-4 {
                margin: 20px 10px;
                width: 45%;
            }
        }

        @media only screen and (min-width: 992px) {
            .w3-sidebar{
            width: 25%;
            }
            .content {
                padding: 16px;
                margin-left: 25%;
            }

            .flex-container>.w3-card-4 {
                margin: 20px 10px;
                width: 30%;
            }
        }

        @media only screen and (min-width: 1200px) {
            .w3-sidebar{
            width: 25%;
            }
            .content {
                padding: 16px;
                margin-left: 25%;
            }

            .flex-container>.w3-card-4 {
                margin: 20px 10px;
                width: 30%;
            }
        }